/* Landing Section Styles */

/* 24 */
#main-section {
    padding: 0;
    width: var(--ls-full);
    height: 100vh;
    min-height: 100vh;

    /* 25-1 */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 25 */
#main-section img {
    width: var(--ls-full);
    height: var(--ls-full);
    min-width: 1280px;

    /* 25-2 */
    position: absolute;
    object-fit: cover; /* object-fit:cover는 꽉 채우고 이미지가 커지는 부분은 넘치게 만드는 것 */
}

/* 26 */
#main-section .landing-text-box {
    z-index: 10;
}

/* 27 */
#main-section .landing-text-box h1 {
    font-size: var(--fs-title);
    line-height: 1.4; /* 단위를 따로 적어주지 않으면 기본 단위는 em이다. */
    font-weight: var(--fw-400);
}

/* 28 */
#main-section .landing-text-box p {
    padding: var(--el-medium) 0;
    width: var(--ls-1-3);
}

/* Meet Section Styles */

/* 29 */
.meet-section .meet-wrapper {
    width: var(--ls-full);
    height: auto;
    display: flex;
    align-items: center;
}

/* Meet Box Text Styles */

/* 35 */
.meet-section .meet-text-box {
    width: var(--ls-1-2);
}

/* 36 */
.meet-section .meet-text-box h4 {
    font-size: var(--fs-12);
    font-weight: var(--fw-400);
}

/* 37 */
.meet-section .meet-text-box p {
    font-size: var(--fs-18);
    line-height: 1.8;
    width: 80%;
    padding: var(--el-wide) 0 var(--el-medium); /* 위에는 넓게 좌우는 없고, 아래는 미디움으로*/
    color: var(--color-gray-3);
    
    /* 37-1 */
    position: relative;
}

/* 38 */
.meet-section .meet-text-box p:after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--color-gray-3);
    left: 0;
    bottom: 0;
    position: absolute;
}

/* 39 */
.meet-section .meet-text-box span {
    font-size: var(--fs-18);
    padding-top: var(--el-medium);
    display: flex;
    align-items: center;
    
    /* 40-1 */
    column-gap: 1rem;
}

/* 40 */
.meet-section .meet-text-box span:before {
    content: '';
    width: 30px;
    height: 1px;
    background: var(--color-gray-3);
    display: block;
}


/* Meet Box Image Styles */

/* 30 */
.meet-section .meet-image-box {
    width: var(--ls-1-2);
    display: flex;
    align-items: center;

    /* 31-2 */
    column-gap: var(--el-medium);
}

/* 31 */
.meet-section .meet-left-image {
    width: var(--ls-1-2);

    /* 33-1 */
    display: flex;
    flex-direction: column;
    row-gap: var(--el-medium);

    /* 34-1 */
    align-items: flex-end;
}

/* 32 */
.meet-section .meet-right-image {
    width: var(--ls-1-2);
}

/* 33 */
.meet-section .meet-image-box img {
    width: var(--ls-full);

    /* 34-1 */
    border-radius: 0.25rem;
}

/* 34 */
.meet-section .meet-image-box :nth-child(2) {
    width: 80%;
}


/* Features Section Styles */
/* 37 */
.feature-section.section {
    padding: var(--el-section-small) 0;
}

/* 35 */
.feature-section .features {
    width: var(--ls-full);
    display: flex;
    justify-content: space-around;
}

/* 36 */
.feature-section .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--el-wide);
}

/* 38 */
.feature-section .feature h4 {
    font-size: var(--fs-name);
    font-weight: var(--fw-400);
    padding: var(--el-medium) 0;
}

/* 39 */
.feature-section .feature p {
    font-size: var(--fs-small-text);
    text-align: center;
}


/* Slider Section Styles */
/* 40 */
.slider-section .container {
    position: relative;
}

/* 41 */
.slider-section .swiper-slide {
    display: flex;
    width: var(--ls-full);
}

/* 42 */
.slider-section .swiper-slide > div {
    width: var(--ls-1-2);
    padding: 0 var(--el-medium);
}

/* 43 */
.slider-section .swiper-slide > div > img {
    width: var(--ls-full);
    border-radius: 0.25rem;
}

/* 44 */
.slider-section .slider-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--el-medium);
}